<h2>Importar Nós, Linhas, Percursos, Tipos de viatura e Tipos de tripulante</h2>
<div class="form_padding_block">
    <h5>Submeter ficheiro .glx</h5>
    <form action="/action_page.php">
        <label for="file">Selecione um ficheiro: </label>
        <p></p>
        <input type="file" id="file" accept=".glx" (change)="handleFileInput($event.target.files)"><br><br>
    </form>

    <button name="enviarBtn" (click)="importarDados()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored button_margin">
        Enviar
    </button>
</div>